/* --- HORIZONTAL MONITOR SIDEBAR --- */
.horizontal-sidebar {
    width: 100%;
    display: flex;
    gap: 32px;
    padding: 12px 16px;
    border: 2px solid var(--color-muted);
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 0.85rem;
}

/* --- DUAL INTERACTIVE SPLIT WINDOWS --- */
.tui-split-wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 16px;
    height: fit-content;
}

.split-left,
.split-right {
    margin: 0 !important;
    min-height: 480px;
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 720px) {
    .tui-split-wrapper {
        flex-direction: column;
    }

    .split-left,
    .split-right {
        width: 100% !important;
    }
}

/* --- DATA TABLE INDEXER --- */
.tui-table-container {
    overflow-x: auto;
    overflow-y: auto;
    flex-grow: 1;
    height: 0;
}

thead {
    position: sticky;
    top: 0;
    background-color: var(--bg-terminal);
    z-index: 10;
}

.tui-file-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.85rem;
    text-align: left;
}

.tui-file-table th {
    color: var(--color-green);
    border-bottom: 2px solid var(--color-green);
    padding: 6px 8px;
    font-weight: bold;
    white-space: nowrap;
}

.tui-file-table td {
    padding: 8px;
    color: var(--color-text);
    white-space: nowrap;
}

.file-row {
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.file-row:hover,
.file-row.active {
    background-color: var(--color-muted);
    color: var(--color-green) !important;
}

.file-row.active td.blue {
    color: var(--color-green) !important;
}

.tui-inline-btn {
    background: none;
    border: none;
    color: var(--color-leaf);
    font-family: var(--font-mono) !important;
    cursor: pointer;
    font-weight: bold;
    padding: 0;
}

.file-row:hover .tui-inline-btn,
.file-row.active .tui-inline-btn {
    color: var(--color-text);
}

.file-row:focus {
    outline: 1px dashed var(--color-orange);
    background-color: rgba(34, 191, 17, 0.1);
}

.file-row.active .file-name::before {
    content: "> ";
    color: var(--color-orange);
    font-weight: bold;
}

.file-row.active .tui-inline-btn {
    color: var(--color-orange) !important;
}

/* --- IMAGE LIVE PREVIEWER --- */
.preview-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    gap: 16px;
}

.preview-media {
    border: 2px solid var(--color-muted);
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    height: 310px;
    width: 100%;
    flex-shrink: 0;
}

.preview-media img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    align-content: center;
    text-align: center;
}

.preview-data {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 0;
    font-size: 0.82rem;
    padding-bottom: 8px;
}

.change-photo-buttons {
    display: flex !important;
    justify-content: space-between !important;
    gap: 16px !important;
}

.change-photo-buttons button {
    width: 50% !important;
}